.DS_Store

# logs
*.log

# cmake outputs
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
install_manifest.txt

# compiled outputs
*.dll
*.so
*.o
*.exp
*.lib

# build directories
glue-codes/fast/5MW_Baseline/ServoData/DISCON*

